* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-font: "Inter", serif;
  --sub-font: "Montserrat", serif;
  --font-color: linera-gradient (#FCB045, #FF3F78);
}